* {
  margin: 0;
  padding: 0;
}
/* Hide scrollbar for all browsers */
.scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

